.title-component {
    color: var(--text_color);
    font-weight: 800;
    margin: 0.4em 0;
    white-space: nowrap;
}

@media (max-width: 615px) {
    .title-component {
        font-size: 1.2em;
    }
}