.input-label {
    color: var(--text_color);
    font-weight: 500;
    /* border: 1px solid red; */
    display: flex;
    justify-content: start;
    align-items: center;
    text-wrap: nowrap;
}

.input-field-component {
    font-size: 1.1em;
    background-color: var(--content_boxes_color);
    color: var(--background_color_one);
    border: none;
    padding-left: 0.4em;
    transition: 1s;
    border-radius: 7px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    margin: 1em;
    height: 2em;
    width: 100%;
}

.input-field-component:focus {
    outline: none;
    border: 1px solid var(--sideBar_color);
}

.input-field-component::placeholder {
    color: var(--light_text_color);
}

/*Custom Date Input fields styling */
.input-field-component[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}

.input-field-component[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}

.input-field-component[type="date"] {
    position: relative;
}

.input-field-component[type="date"]:before {
    content: attr(placeholder);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    pointer-events: none;
    color: var(--light_text_color);
}

.input-field-component[type="date"]:focus::before {
    display: none;
}

.input-field-component[type="date"]::-webkit-calendar-picker-indicator {
    margin-right: 1em;
    cursor: pointer;
    color: var(--sideBar_color);
}